<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Librum | @ViewData["Title"]</title>
    <meta name="Content-Type" content="UTF-8">
    <meta name="Description" content="@(@ViewData["Description"] ?? Configuration.GetValue<string>("Description"))">
    <meta name="Keywords" content="@(@ViewData["Keywords"] ?? Configuration.GetValue<string>("Keywords"))">
    <meta name="Copyright" content="">
    <meta name="Author" content="Clint Mourlevat">
    <meta name="DC.Description" content="@(@ViewData["Description"] ?? Configuration.GetValue<string>("Description"))">
    <meta name="DC.Keywords" content="@(@ViewData["Keywords"] ?? Configuration.GetValue<string>("Keywords"))">
    <meta name="DC.Copyright" content="">
    <meta name="DC.Author" content="Clint Mourlevat">
    <link rel="canonical" href="@(Configuration.GetValue<string>("CanonicalUri"))" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
    <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/themify-icons" />
    <link rel="stylesheet" href="~/css/default.css" />
    <link rel="stylesheet" href="~/css/markdown.css" />
    </environment>
    <environment exclude="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/nprogress/nprogress.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/default.min.css" />
    <link rel="stylesheet" href="~/css/markdown.min.css" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light @(Configuration.GetSection("Configuration").GetValue<bool>("FixedNavbar") ? "fixed-top":"") bg-white shadow-sm" id="main-bar">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="@(Configuration.GetValue<string>("Icon"))"></i> @(Configuration.GetValue<string>("BlogName"))</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy"><i class="far fa-bookmark"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"><i class="far fa-bell"></i></a>
                        </li>
                    </ul>
                    <form class="form-inline ml-3">
                        <a class="btn btn-outline-success btn-sm my-sm-0" asp-controller="Article" asp-action="New">New Article</a>
                        <div class="dropdown">
                            <img gravatar-email="clint.mourlevat@gmail.com" gravatar-size="32" class="ml-3 gravatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="@(Configuration.GetSection("Configuration").GetValue<bool>("FixedNavbar") ? "pt-5":"")">
        @RenderBody()
    </main>
    <footer class="footer bg-light text-center py-4">
        <div class="container">
            Copyright &copy; @(DateTime.Now.Year) @(Configuration.GetValue<string>("BlogName")) - @(Configuration.GetValue<string>("Description")) - Powered by <a href="https://github.com/clintnetwork/librum" target="_blank">Librum</a>.
        </div>
    </footer>
    <partial name="_CookieConsentPartial" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/default.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/default.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
