<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(Configuration.GetValue<string>("BlogName")) | @ViewData["Title"]</title>
    <meta name="Description" content="@(@ViewData["Description"] ?? Configuration.GetValue<string>("Description"))">
    <meta name="Keywords" content="@(@ViewData["Keywords"] ?? Configuration.GetValue<string>("Keywords"))">
    <meta name="Author" content="@(Configuration.GetValue<string>("Author"))">
    <meta name="Reply-To" content="@(Configuration.GetValue<string>("Contact"))">
    <meta name="Revisit-After" content="1 day">
    <meta name="image" content="@(Context.Request.IsHttps ? "https":"http" + "://" + Context.Request.Host + "/og.png")">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@(Configuration.GetValue<string>("Twitter"))">
    <meta name="twitter:title" content="@(Configuration.GetValue<string>("BlogName")) | @ViewData["Title"]">
    <meta name="twitter:description" content="@(@ViewData["Description"] ?? Configuration.GetValue<string>("Description"))">
    <meta itemprop="name" content="@(Configuration.GetValue<string>("BlogName")) | @ViewData["Title"]">
    <meta itemprop="description" content="@(@ViewData["Description"] ?? Configuration.GetValue<string>("Description"))">
    <meta itemprop="image" content="@(Context.Request.IsHttps ? "https":"http" + "://" + Context.Request.Host + "/og.png")">
    <meta name="og:title" content="@(Configuration.GetValue<string>("BlogName")) | @ViewData["Title"]">
    <meta name="og:description" content="@(@ViewData["Description"] ?? Configuration.GetValue<string>("Description"))">
    <meta name="og:image" content="@(Context.Request.IsHttps ? "https":"http" + "://" + Context.Request.Host + "/og.png")">
    <meta name="og:url" content="@(Configuration.GetValue<string>("CanonicalUri"))">
    <meta name="og:site_name" content="@(Configuration.GetValue<string>("BlogName"))">
    <meta name="og:type" content="website">
    <meta name="Identifier-Url" content="@(Configuration.GetValue<string>("CanonicalUri"))">
    <link rel="canonical" href="@(Configuration.GetValue<string>("CanonicalUri"))" />
    <link rel="apple-touch-icon" sizes="192x192" href="@(Context.Request.IsHttps ? "https":"http" + "://" + Context.Request.Host + "/og.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@(Context.Request.IsHttps ? "https":"http" + "://" + Context.Request.Host + "/og.png")">
    <link rel="icon" href="~/favicon.ico" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/nprogress/nprogress.css">
        <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/node-snackbar/dist/snackbar.css" />
        <link rel="stylesheet" href="~/css/default.css" />
        <link rel="stylesheet" href="~/css/markdown.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/nprogress/nprogress.min.css">
        <link rel="stylesheet" type="text/css" href="~/lib/node-snackbar/dist/snackbar.min.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="~/css/default.min.css" />
        <link rel="stylesheet" href="~/css/markdown.min.css" />
    </environment>
    @RenderSection("Links", required: false)
</head>
<body style="@(Configuration.GetSection("Configuration").GetValue<bool>("FixedNavbar") ? "padding-top: 70px":"")">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light @(Configuration.GetSection("Configuration").GetValue<bool>("FixedNavbar") ? "fixed-top":"") bg-white shadow-sm" id="main-bar">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="@(Configuration.GetValue<string>("Icon"))"></i> @(Configuration.GetValue<string>("BlogName"))</a>
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav pt-1 ml-3" id="links-menu">
                        @if (Configuration.GetChildren().Any(x => x.Key == "Menu"))
                        {
                            foreach (MenuItem menuItem in Configuration.GetSection("Menu").Get<MenuItem[]>())
                            {
                                <li class="nav-item mr-2">
                                    <a class="nav-link text-dark" href="@menuItem.Link">@menuItem.Title</a>
                                </li>
                            }
                        }
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" id="search-input">
                            <form method="get" asp-controller="Home" asp-action="Search">
                                <input class="form-control form-control-sm mt-1" autofocus name="terms" type="search" placeholder="Search an article...">
                            </form>
                        </li>
                        <li class="nav-item mr-1">
                            <a class="nav-link text-dark" href="#" id="open-search"><i class="icon" data-feather="search"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="SavedArticles"><i class="icon" data-feather="bookmark"></i></a>
                        </li>
                    </ul>
                    <form class="form-inline ml-3">
                        <a class="btn btn-outline-success btn-sm my-sm-0" asp-controller="Article" asp-action="New">New Article</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <img gravatar-email="@(User.Identity.Name)" gravatar-default-image="mm" gravatar-size="32" class="ml-3 gravatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Article" asp-action="New">Post a new Article</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Settings">Librum Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a class="btn btn-outline-dark btn-sm my-sm-0 ml-2" asp-controller="Account" asp-action="Login">Sign In</a>
                        }
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="footer bg-light text-center py-4">
        <div class="container">
            Copyright &copy; @(DateTime.Now.Year) <span title="@(Configuration.GetValue<string>("Description"))">@(Configuration.GetValue<string>("BlogName"))</span> - Powered by <a href="https://github.com/clintnetwork/librum" target="_blank">Librum</a>.
        </div>
    </footer>
    <partial name="_CookieConsentPartial" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/feather-icons/dist/feather.js"></script>
        <script src="~/lib/node-snackbar/dist/snackbar.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/default.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/feather-icons/dist/feather.min.js"></script>
        <script src="~/lib/node-snackbar/dist/snackbar.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/js/default.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    @if (!string.IsNullOrEmpty(Configuration.GetValue<string>("GoogleAnalytics")))
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143790471-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '@(Configuration.GetValue<string>("GoogleAnalytics"))');
        </script>
    }
</body>
</html>
