@model Article
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["Keywords"] = Model.Keywords;
    var commentSettings = new CommentSettings()
    {
        IsInArticle = true
    };
    var articleOwner = Users.GetUserByEmail(Model.AuthorUsername);
    var isBookmarked = Articles.IsInBookmarks(Model.Id);
    var isLiked = Articles.IsLiked(Model.Id);
}
<section class="pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div id="like-sidebar" class="text-center">
                    <h2 class="mb-3">
                        @if (!isLiked)
                        {
                            <a class="inherit" asp-controller="Article" asp-action="Like" asp-route-slugArticle="@Model.Slug" data-ajax="true" data-ajax-success="Liked"><i class="far fa-heart"></i></a>
                        }
                        else
                        {
                            <a class="inherit" asp-controller="Article" asp-action="Unlike" asp-route-slugArticle="@Model.Slug" data-ajax="true" data-ajax-success="Liked"><i class="far liked fa-heart"></i></a>
                        }
                    </h2>
                    <h6>
                        @if (!isBookmarked)
                        {
                            <a class="inherit" asp-controller="Article" asp-action="Bookmark" asp-route-slugArticle="@Model.Slug" data-ajax="true" data-ajax-success="Bookmarked"><i class="far fa-bookmark mt-3"></i></a>
                        }
                        else
                        {
                            <a class="inherit" asp-controller="Article" asp-action="Unbookmark" asp-route-slugArticle="@Model.Slug" data-ajax="true" data-ajax-success="Bookmarked"><i class="fas fa-bookmark mt-3"></i></a>
                        }
                    </h6>
                </div>
                <div class="markdown">
                    @(Westwind.AspNetCore.Markdown.Markdown.ParseHtmlString(Model.Content))
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="_AuthorPartial" model="@(articleOwner)" />
<partial name="_CommentPartial" model="@(commentSettings)" />